#itemList{
				width:100%;
				box-sizing:border-box;
			}
			.movieOrBook{
				display: flex;
				flex-direction:row;
				justify-content:flex-start;
				margin-bottom: 30px;
			}
			.movieOrBook>button{
				padding:0px 25px;
				margin-right: 60px;
				line-height: 32px;
				font-size: 18px;
				background-color: #87CEEB;
				color:white;
				border:solid 2px #B0E0E6;
				border-radius: 10px;
				outline: none;
				cursor: pointer;
				transition:all 0.5s;
			}
			.movieOrBook>button:hover{
				border:solid 2px #87CEEB;
				background-color: #F0F0F0;
				color:gray;
				transition:all 0.5s;
			}
			.itemList_main{
				width:90%;
				padding:10px 0;
			}
			.itemList_main_item{
				box-sizing:border-box;
				margin:10px 0;
				padding-left: 12px;
				border-left:solid 5px rgba(0,0,0,0);
				display: flex;
				flex-direction:column;
				justify-content:space-between;
			}
			.itemList_main_item:hover{
				border-left:solid 5px #87CEEB;
			}
			.itemList_main_item a{
				color:black;
				text-decoration: none;
			}
			.itemList_main_item hr{
				margin:10px 0 0;
				height:1px;
				border: none;
				background-color: #919191;
			}
			.itemList_main_item_contain{
				display: flex;
				flex-direction:row;
				justify-content:space-between;
			}
			.itemList_main_item_left{
				display: flex;
				flex-direction:column;
				justify-content:space-between;
				width:calc(100% - 180px);
			}
			.itemList_main_item_right{
				width:140px;
				display: flex;
				flex-direction:column;
				justify-content:space-between;
			}
			.itemList_main_item_title{
				color:#757575;
				font-size: 19px;
				margin-bottom: 18px;
			}
			.itemList_main_item_intro{
				font-size: 13px;
			}
			.itemList_main_item_intro *{
				margin:7px 0;
			}
			.itemList_main_item_good>span{
				display: flex;
				flex-direction:row;
				justify-content:flex-start;
				align-items:center;
				font-size: 16px;
				font-weight: 600;
			}
			.itemList_main_item_good>span:after{
				content:"";
				display: inline-block;
				width:25px;
				height: 25px;
				background: url("../img/good.png") no-repeat;
				background-size: 100% 100%;
				margin-left: 8px;
			}
			.itemList_main_item_pic{
				width: 100%;
			}
			.itemList_main_item_mark{
				text-align: center;
				font-weight: 600;
			}