#searchArea{
	float: right;
	width:60px;
	padding:0px 15px;
	border:solid #D3D3D3 3px;
	outline: none;
	border-radius: 15px;
	font-size: 18px;
	line-height: 30px;
	transition:all 0.5s;
}
#searchArea:focus{
	width:200px;
	border-radius: 5px;
	transition:all 0.8s;
	border-color: #ADFF2F;
}